Google_Doc.json
{
  "name": "Google Doc",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -660,
        -320
      ],
      "id": "421e2cef-a5d8-4c6e-a9de-8f8942512939",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "write-to-google-doc",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -660,
        -60
      ],
      "id": "4c59ab74-3ddf-4a58-8569-838d58794fc0",
      "name": "Google Doc Hook",
      "webhookId": "7d8fe18a-8ecf-4c9e-bb60-e71781b132cc"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=https://docs.google.com/document/d/{{ $json.documentId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        500,
        -60
      ],
      "id": "6b68aae1-0b07-4c46-a3bb-bfafb9537ef1",
      "name": "Return File URL"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "folderId": "default",
        "title": "google ocr result"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -380,
        -60
      ],
      "id": "57bf7da4-0874-484d-a17c-d5bd088b545b",
      "name": "Create Google Doc",
      "credentials": {
        "googleApi": {
          "id": "KS3smJFrYUzlhDzN",
          "name": "Google Service Account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "writer",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -160,
        -60
      ],
      "id": "008b3eba-da69-4ea3-83e2-33db603fd560",
      "name": "Share Doc",
      "credentials": {
        "googleApi": {
          "id": "KS3smJFrYUzlhDzN",
          "name": "Google Service Account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1aa7679-c80c-4f97-b6a9-d403c8295882",
              "name": "string",
              "value": "={{ $('Google Doc Hook').item.json.body.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        60,
        -60
      ],
      "id": "c4c9ae05-dbd5-46c5-ae80-c470213a3aab",
      "name": "OCR Text"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://docs.googleapis.com/v1/documents/{{ $('Create Google Doc').item.json.id }}:batchUpdate ",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"requests\": [\n    {\n      \"insertText\": {\n        \"location\": { \"index\": 1 },\n        \"text\": {{ JSON.stringify($('OCR Text').item.json.string) }}\n      }\n    },\n    {\n      \"updateParagraphStyle\": {\n        \"range\": {\n          \"startIndex\": 1,\n          \"endIndex\": {{ parseInt($('OCR Text').item.json.string.length, 10) + 1 }}\n        },\n        \"paragraphStyle\": { \"direction\": \"RIGHT_TO_LEFT\" },\n        \"fields\": \"direction\"\n      }\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        -60
      ],
      "id": "5804dbbb-cf37-4e74-b554-a2e1ff6de3b0",
      "name": "Insert RTL Text",
      "credentials": {
        "googleCloudStorageOAuth2Api": {
          "id": "ZmOVUTFH7gcStTkj",
          "name": "Google Cloud Storage account"
        },
        "googleApi": {
          "id": "KS3smJFrYUzlhDzN",
          "name": "Google Service Account"
        },
        "googleOAuth2Api": {
          "id": "LsyaABWENQ6h6Jhc",
          "name": "Google account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "{{ $('Google Doc Hook').item.json.body.text }}",
        "height": 100,
        "width": 760
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -280,
        -300
      ],
      "id": "e659f218-f228-4c51-9150-28bc1a97a6da",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Create Google Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Doc Hook": {
      "main": [
        [
          {
            "node": "Create Google Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Google Doc": {
      "main": [
        [
          {
            "node": "Share Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share Doc": {
      "main": [
        [
          {
            "node": "OCR Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR Text": {
      "main": [
        [
          {
            "node": "Insert RTL Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert RTL Text": {
      "main": [
        [
          {
            "node": "Return File URL",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a89d480f-8ee9-4f6f-8555-48a5b6b4e28c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b2c39406048e29b5bd0552e184034517b5c2aaef3888a106af50103f680f265"
  },
  "id": "rjWzSSxAVOlBYhg8",
  "tags": []
}