Groq_Translate.json
{
  "name": "Groq Translate",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "groq-trnaslate",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -140,
        0
      ],
      "id": "56724b7a-d516-439e-88fc-fe04b89530fb",
      "name": "Webhook",
      "webhookId": "e0087df3-cafa-4835-9dba-3400ff4069ab"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        480,
        0
      ],
      "id": "84add49c-041a-433d-b87f-7199d97c692f",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/translations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "groqApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.body.url }}"
            },
            {
              "name": "model",
              "value": "=whisper-large-v3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        140,
        0
      ],
      "id": "b6d991c8-998f-439c-a448-dfe9182604fe",
      "name": "Groq Translate",
      "credentials": {
        "groqApi": {
          "id": "Y5YqtzLnTcvz2EdV",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Groq Translate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Translate": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dc57e6e7-c068-486e-8156-19eaf0b2f692",
  "meta": {
    "instanceId": "6b2c39406048e29b5bd0552e184034517b5c2aaef3888a106af50103f680f265"
  },
  "id": "qXlxknYpo63pYIUy",
  "tags": []
}