Groq_Transcript.json
{
  "name": "Groq Transcript",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "groq-transcript",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -200,
        40
      ],
      "id": "340702e4-1204-460c-b3e2-185278f338bf",
      "name": "Webhook",
      "webhookId": "57b67037-0846-4da8-907a-116617a7bc9a"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        380,
        40
      ],
      "id": "cb5bab61-d024-40ec-be3e-c32a7e8e5314",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "groqApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.body.url }}"
            },
            {
              "name": "model",
              "value": "=whisper-large-v3"
            },
            {
              "name": "language",
              "value": "he"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        40
      ],
      "id": "f077e2bd-7a90-4603-b345-95bd38865e5b",
      "name": "Groq Transcription Request",
      "credentials": {
        "groqApi": {
          "id": "Y5YqtzLnTcvz2EdV",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Groq Transcription Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Transcription Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "87441437-572f-438b-ba1a-8a4ca2d09ca0",
  "meta": {
    "instanceId": "6b2c39406048e29b5bd0552e184034517b5c2aaef3888a106af50103f680f265"
  },
  "id": "9dHYYSmJdTUIDJLk",
  "tags": []
}