Video_Ratio.json
{
  "name": "Video Ratio",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "video-info",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -300,
        0
      ],
      "id": "ac8561e6-9665-4e87-850b-c70009c6205a",
      "name": "Webhook",
      "webhookId": "7003a441-b070-4c3a-8200-ea0e0e1adb69"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"width\": \"{{$json.width}}\",\n  \"height\": \"{{$json.height}}\",\n  \"ratio\": {{$json.ratio}}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        180,
        0
      ],
      "id": "b8c9365d-4267-420b-8dff-ca3ae4c4b596",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://95.216.88.178/video-ratio",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "videoUrl",
              "value": "=\"{{ $json.body.url }}\""
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -60,
        0
      ],
      "id": "ab73d23f-e8a3-4007-a002-ac725bc260c2",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "42ac1d0d-b9f5-4de7-8548-7d8557ec4cac",
  "meta": {
    "instanceId": "6b2c39406048e29b5bd0552e184034517b5c2aaef3888a106af50103f680f265"
  },
  "id": "aeOXH4hcAmSAaZPI",
  "tags": []
}